<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-screen h-screen bg-slate-200">
    <div
      class="lg:w-3/5 sm:w-4/5 w-full h-full mx-auto bg-[#fafafa] px-2 rounded-md"
    >
      <div class="text-2xl font-bold p-2">Feedback</div>
      <hr class="h-[2px] bg-black" />
      <div class="font-bold">Email:</div>
      <input placeholder="Email" class="p-2 w-full" />
      <div class="font-bold">Detail:</div>
      <textarea
        name="reason"
        id="reason"
        class="w-full h-auto shadow-lg min-h-64 p-2"
      >
      </textarea>
      <div class="flex justify-end">
        <button
          type="submit"
          class="bg-purple-400 px-2 py-1 rounded-lg text-white"
        >
          Send feedback
        </button>
      </div>
    </div>
  </body>
</html>
