<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>NJinder</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="inner-main">
            <div class="inner-logo">
                <a href="/">
                    <img src="assets/images/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="inner-menu">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-message"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-bell"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="inner-profile">
                <!-- Avatar change here -->
                <img src="assets/images/avt.jpg" alt="Avatar">
                <!-- Username change here -->
                <span class="user-name">NewJeans</span>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Section One -->
    <section class="section-one">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-wrap">
                        <div class="inner-profile">
                            <img src="assets/images/avt.jpg" alt="">
                            <span class="user-name">NewJeans</span>
                        </div>
                        <div class="inner-slide">
                            <ul>
                                <li class="slide-item slide-active">
                                    <img src="assets/images/bg1.webp" alt="">
                                </li>
                                <li class="slide-item">
                                    <img src="assets/images/bg2.webp" alt="">
                                </li>
                                <li class="slide-item">
                                    <img src="assets/images/bg3.webp" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="inner-content">
                            <div class="inner-interact">
                                <ul>
                                    <li>
                                        <i class="fa-regular fa-heart"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-comment"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-repeat"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="inner-desc">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="age">Age</p>
                                    <p class="location">Location</p>
                                </div>
                                <div class="hobby-tags">
                                    <p class="hobby-label hobby-1">
                                        Play Football
                                    </p>
                                    <p class="hobby-label hobby-2">
                                        Reading Book
                                    </p>
                                    <p class="hobby-label hobby-3">
                                        Music
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section One -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    
    <script src="assets/js/script.js"></script>
</body>

</html>