<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Message</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../message_page/assets/js/tailwind-config.js"></script>
  <link rel="stylesheet" href="../message_page/assets/css/base.css">
  <link rel="stylesheet" href="../message_page/assets/css/styles.css">
</head>

<body>
  <div class="root h-screen flex flex-col">
    <!-- Header -->
    <header class="header relative z-[50] px-[10px] py-[5px] shadow-[0px_1.75px_3.51px_0px_#0000001F] bg-[white]">
    <div class="inner-wrap flex justify-between items-center gap-[50px] [@media(max-width:767.98px)]:gap-[10px]">
      <div class="inner-logo-search flex items-center gap-[10px] [@media(max-width:767.98px)]:order-[1]">
        <div class="inner-logo">
          <a href="#">
            <img src="assets/images/logo.png" alt="" class="h-[40px] w-auto">
          </a>
        </div>
        <div
          class="inner-search w-[200px] cursor-pointer flex items-center gap-[10px] bg-[var(--bg)] p-[5px] rounded-[20px] [@media(max-width:767.98px)]:hidden text-[var(--color-one)] text-[300] text-[14px]">
          <i class="fa-solid fa-magnifying-glass text-[25px] text-[var(--color-one)]"></i>
          Search
        </div>
      </div>
      <div class="inner-menu [@media(max-width:767.98px)]:hidden">
        <ul class="flex items-center justify-between gap-[150px] [@media(max-width:1199.98px)]:gap-[100px]">
          <li>
            <a href="#" class="text-[25px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li>
            <a href="#" class="relative inline-block w-[28px] h-[28px]">
              <img src="assets/images/match.png" alt="" class="w-full h-full object-cover">
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
          <li>
            <a href="#" class="relative text-[25px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-message"></i>
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
          <li>
            <a href="#" class="relative text-[25px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-bell"></i>
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
        </ul>
      </div>
      <button id="btnBars"
        class="inner-bars hidden [@media(max-width:767.98px)]:inline-flex [@media(max-width:767.98px)]:order-[0]">
        <i class="fa-solid fa-bars text-[25px] text-[var(--color-one)]"></i>
      </button>
      <div
        class="inner-profile flex items-center justify-end gap-[10px] cursor-pointer [@media(max-width:767.98px)]:order-[2]">
        <div class="inner-image rounded-full overflow-hidden w-[30px] h-[30px]">
          <img src="assets/images/avt.jpg" alt="" class="w-full h-full object-over">
        </div>
        <div class="inner-name">
          User
        </div>
      </div>
    </div>
    <!-- Search Box -->
    <div id="boxSearch"
      class="box-search hidden w-[400px] [@media(max-width:767.98px)]:w-full shadow-[4px_1.75px_3.51px_4px_#0000001F] p-[10px] absolute top-full left-[100px] [@media(max-width:767.98px)]:left-0 z-[110] bg-white border-slate-300 rounded-[10px]">
      <h2 class="inner-title text-[var(--color-one)] font-[600] text-[24px] mt-0 mb-[10px]">
        Search
      </h2>
      <div class="inner-wrap flex flex-col gap-[10px]">
        <div class="inner-input-search bg-slate-200 rounded-[10px] p-[5px] mb-[5px]">
          <input type="text" class="outline-none bg-slate-200 text-[16px] px-[15px]" placeholder="Search something...">
        </div>
        <div class="inner-group w-full flex flex-col text-[var(--color-one)] ">
          <div class="inner-label font-[300] text-[14px]">Gender:</div>
          <div class="inner-input-group flex items-center gap-[40px]">
            <label class="inline-flex items-center space-x-2">
              <input type="radio" name="gender" value="male" class="">
              <span class="">Male</span>
            </label>
            <label class="inline-flex items-center space-x-2">
              <input type="radio" name="gender" value="female" class="">
              <span class="">Female</span>
            </label>
            <label class="inline-flex items-center space-x-2">
              <input type="radio" name="gender" value="male" class="">
              <span class="">All</span>
            </label>
          </div>
        </div>
        <div class="inner-group flex flex-col text-[var(--color-one)]">
          <div class="inner-label font-[300] text-[14px]">Age:</div>
          <select name="" id="" class="outline-none border border-slate-300 rounded-[10px] p-[10px]">
            <option value="">-- Choose Age --</option>
            <option value="">18-25</option>
            <option value="">25-30</option>
            <option value="">30-35</option>
            <option value="">35+</option>
          </select>
        </div>
        <div class="inner-group flex flex-col text-[var(--color-one)]">
          <div class="inner-label font-[300] text-[14px]">Location:</div>
          <select name="" id="" class="outline-none border border-slate-300 rounded-[10px] p-[10px]">
            <option value="">-- Choose Location --</option>
            <option value="">VietNam</option>
            <option value="">Thailand</option>
            <option value="">Japan</option>
            <option value="">China</option>
          </select>
        </div>
        <div class="inner-group flex flex-col text-[var(--color-one)]">
          <div class="inner-label font-[300] text-[14px]">Education Level:</div>
          <select name="" id="" class="outline-none border border-slate-300 rounded-[10px] p-[10px]">
            <option value="">-- Choose Education Level --</option>
            <option value="">High School</option>
            <option value="">College</option>
            <option value="">University</option>
            <option value="">Post-graduate school</option>
          </select>
        </div>
        <div class="inner-group flex flex-col text-[var(--color-one)]">
          <div class="inner-label font-[300] text-[14px]">Hobby Tags:</div>
          <div class="inner-tags-list flex flex-wrap items-center gap-[10px_20px]">
            <div class="inner-tag cursor-pointer inline-flex bg-[var(--color-one)] text-white rounded-[15px] p-[5px_10px] hover:bg-[var(--color-two)] hover:text-[var(--color-one)]">
              Music
            </div>
            <div class="inner-tag cursor-pointer inline-flex bg-[var(--color-one)] text-white rounded-[15px] p-[5px_10px] hover:bg-[var(--color-two)] hover:text-[var(--color-one)]">
              Music
            </div>
            <div class="inner-tag cursor-pointer inline-flex bg-[var(--color-one)] text-white rounded-[15px] p-[5px_10px] hover:bg-[var(--color-two)] hover:text-[var(--color-one)]">
              Music
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search Box -->

    <!-- Log out box -->
    <div class="log-out-box bg-white hidden absolute right-0 top-full rounded-[10px] shadow-[4px_1.75px_3.51px_4px_#0000001F] p-[10px] w-[100px]">
      <div class="inner-wrap flex flex-col gap-[5px]">
        <a href="#" class="inner-profile border border-slate-300 rounded-[10px] p-[5px] text-[14px]">
          My profile
        </a>
        <button class="inner-log-out border border-slate-300 rounded-[10px] p-[5px] text-[14px] cursor-pointer">
          Log out
        </button>
      </div>
    </div>

    <!-- Menu Box -->
    <div id="boxMenu"
      class="box-menu hidden w-full shadow-[4px_1.75px_3.51px_4px_#0000001F] p-[10px] absolute top-full left-0 z-[100] bg-white border-slate-300 rounded-[10px]">
      <div class="inner-title text-[var(--color-one)] font-[600] text-[24px]">
        Menu
      </div>
      <div class="inner-wrap">
        <ul class="flex flex-col gap-[10px]">
          <li>
            <div
              class="inner-search cursor-pointer text-[18px] text-[var(--color-one)] hover:text-[var(--color-two)] flex items-center gap-[5px] bg-slate-200 p-[8px] rounded-[8px]">
              <i class="fa-solid fa-magnifying-glass text-[25px]"></i>
              Search
            </div>
          </li>
          <li class="bg-slate-200 rounded-[8px] p-[8px]">
            <a href="#"
              class="w-full flex items-center gap-[10px] text-[18px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="bg-slate-200 rounded-[8px] p-[8px] flex items-center gap-[10px]">
            <a href="#"
              class="w-full relative flex items-center gap-[10px] inline-block text-[18px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <img src="assets/images/match.png" alt="" class="w-[28px] h-[28px] object-cover">
              <span class="">Match</span>
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
          <li class="bg-slate-200 rounded-[8px] p-[8px] flex items-center gap-[10px]">
            <a href="#"
              class="w-full relative flex items-center gap-[10px] text-[18px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-message"></i>
              <span>Message</span>
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
          <li class="bg-slate-200 rounded-[8px] p-[8px] flex items-center gap-[10px]">
            <a href="#"
              class="w-full relative flex items-center gap-[10px] text-[18px] text-[var(--color-one)] hover:text-[var(--color-two)]">
              <i class="fa-solid fa-bell"></i>
              <span>Notifications</span>
              <span
                class="absolute inline-block bg-[red] rounded-full w-[18px] h-[18px] text-[12px] flex items-center justify-center text-[white] top-[-8px] right-[-12px]">0</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Menu Box -->
  </header>
    <!-- End Header -->
    <div class="message-container flex flex-1 overflow-y-hidden relative">
      <!-- Sidebar Contact -->
      <aside id="chatList" class="sm:basis-3/12 sm:flex-none flex-1 border-r p-2 overflow-y-auto relative">
        <div class="inner-head flex justify-between items-center">
          <h2 class="text-2xl font-semibold py-4 pl-2">Chats</h2>
          <button class="survey-button"><i class="fa-solid fa-clipboard-list inline-block text-[#002275] text-2xl"></i></button>
        </div>
        <input type="text" name="" id="searchInput" class="w-full outline-none rounded-full p-2 bg-slate-100 mb-4"
          placeholder="Search...">
        <ul class="contact-list">
          <li class="flex gap-2 items-center p-2 mb-2 rounded-xl hover:bg-gray-200 cursor-pointer bg-sky-100">
            <div class="contact-avatar w-[60px] h-[60px] rounded-full border-2 border-slate-500 overflow-hidden">
              <img src="assets/images/hanni.webp" alt="" class="w-full h-full object-cover">
            </div>
            <div class="contact-info">
              <div class="contact-name">User 1</div>
              <div class="lastest-message text-[12px] text-black opacity-70"></div>
            </div>
          </li>
          <li class="flex gap-2 items-center p-2 mb-2 rounded-xl hover:bg-gray-200 cursor-pointer">
            <div class="contact-avatar w-[60px] h-[60px] rounded-full border-2 border-slate-500 overflow-hidden">
              <img src="assets/images/haerin.webp" alt="" class="w-full h-full object-cover">
            </div>
            <div class="contact-info">
              <div class="contact-name">User 2</div>
              <div class="lastest-message text-[12px] text-black opacity-70"></div>
            </div>
          </li>
        </ul>
        <p id="noResultMessage" class="text-center text-gray-400 hidden">No result</p>
      </aside>
      <!-- End Sidebar Contact -->

      <!-- Main Chat Area -->
      <main id="mainChat" class="main-chat basis-6/12 border-r sm:flex flex-1 flex-col hidden relative">
        <div class="hidden chat-header flex justify-between items-center shadow-sm shadow-slate-200">
          <a href="#" class="inline-flex gap-2 items-center p-2 hover:bg-gray-100">
            <div class="contact-avatar w-[40px] h-[40px] rounded-full border-2 border-slate-500 overflow-hidden">
              <img src="assets/images/hanni.webp" alt="" class="w-full h-full object-cover">
            </div>
            <div class="contact-name"></div>
          </a>
        </div>
        <div class="hidden chat-container flex flex-col flex-1 p-4 border-b overflow-y-auto">
          <div class="message reveice-message relative max-w-[60%] my-[10px] p-4 rounded-[10px] bg-slate-200 self-start">
            <p class="content-message whitespace-pre-wrap">Alo 123</p>
            <span class="time absolute text-[12px] text-black opacity-70 bottom-[-20px] left-[5px]">09:53</span>
          </div>
          <div class="message reveice-message relative max-w-[60%] my-[10px] p-4 rounded-[10px] bg-slate-200 self-start">
            <img src="assets/images/avt.jpg" alt="">
            <span class="time absolute text-[12px] text-black opacity-70 bottom-[-20px] left-[5px]">09:53</span>
          </div>
          <div class="message send-message relative max-w-[60%] my-[10px] p-4 rounded-[10px] bg-blue-300 self-end">
            <p class="content-message">Can you call me?</p>
            <span class="time absolute text-[12px] text-black opacity-70 bottom-[-20px] left-[5px]">10:00</span>
          </div>
          <div class="message send-message relative max-w-[60%] my-[10px] p-4 rounded-[10px] bg-blue-300 self-end">
            <img src="assets/images/avt.jpg" alt="">
            <span class="time absolute text-[12px] text-black opacity-70 bottom-[-20px] left-[5px]">10:00</span>
          </div>
        </div>
        <div class="hidden input-message flex items-center p-[10px] gap-2">
          <div id="createSurvey" class="create-survey cursor-pointer size-8 p-1 flex items-center justify-center">
            <button><i class="fa-solid fa-clipboard-list inline-block text-[#002275] text-2xl"></i></button>
          </div>
          <div class="upload-image cursor-pointer p-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
          </div>
          <textarea name="" id="messageInput" rows="1" class="flex-1 rounded-full resize-none p-2 px-4 outline-none bg-slate-100"
            autocomplete="off" placeholder="Aa"></textarea>
          <div class="send-message-input cursor-pointer hover:bg-slate-200 rounded-full p-2" id="sendButton">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
            </svg>
          </div>
        </div>
      </main>
      <!-- End Main Chat Area -->
      <div id="chatToggle"
        class="chat-toggle hidden absolute z-[45] top-[8px] right-[10px] p-2 bg-slate-200 rounded-full cursor-pointer hover:bg-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
        </svg>
      </div>
    </div>
  </div>
  <!-- End Root -->
  <script src="../message_page/assets/js/script.js"></script>
</body>

</html>