<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script type="text/javascript" src="/js/chat/chat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script th:inline="javascript">
        const id = [[${id}]];
    </script>
</head>

<body>

<div>

    <form id="connect" name="connect">
        <button type="submit">Connect</button>
    </form>

    <div id="username-page">
        <div class="username-page-container">
            <h1 class="title">Chat</h1>
            <div id="connecting">
                Connecting...
            </div>

            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <input type="text" id="messageInput" placeholder="Message" autocomplete="off" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit">Send</button>
                </div>
            </form>

            <form id="privateMessageForm" name="privateMessageForm">
                <div class="form-group">
                    <input type="text" id="userId" placeholder="User ID" autocomplete="off" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" id="privateMessage" placeholder="Private Message"
                           autocomplete="off" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit">Send</button>
                </div>
            </form>

        </div>
    </div>

    <ul id="messageArea"></ul>

</div>
</body>
</html>