@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-one: #002275;
    --font: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--color-one);
}