.ct-icons {
    width: 32px;
    height: 32px;
}

.updown-button:hover {
    background-color: #ACA4A2;
}

.sidebar::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
  }

.interact-icon {
    filter: grayscale(100%);
    transition: 0.7s;
}


.interact-icon:hover {
    filter: grayscale(0%);
    transition: .8s;
}

/* Popup */
.match-popup.active {
  opacity: 1;
  z-index: 35;
  transform: translate(-50%, -50%);
}
.popup-bg.active {
  opacity: 0.5;
  z-index: 34;
  transition: opacity 300ms ease-in-out;
}
.popup-bg {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  //transition: opacity 100ms ease-in-out 200ms;
}

/* Button */
.ct-button {
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 8px;
  font-weight: 600;
  background-color: var(--color-one);
}

.ct-button:hover {
  color: var(--color-one);
  background-color: var(--color-two);
}

/* Swiper slider */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Main Wrapper */
.main-wrapper > div {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .main-wrapper > div.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  