.ct-icons {
    width: 32px;
    height: 32px;
}

.updown-button:hover {
    background-color: #ACA4A2;
}

.sidebar::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
  }

.interact-icon {
    filter: grayscale(100%);
    transition: 0.7s;
}


.interact-icon:hover {
    filter: grayscale(0%);
    transition: .8s;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Gán cho mỗi bài đăng trong main-wrapper */
.main-wrapper > div {
    position: absolute; /* Để các bài đăng xếp chồng lên nhau */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  /* Khi bài đăng được active */
  .main-wrapper > div.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  