<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:text="${user}"></h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>

<br/>

<form th:action="@{/create-hobbytag}" method="post">
    <input type="submit" value="create hobby tag and add users">
</form>

<br/>

<form th:action="@{/add-tag-to-user}" method="post">
    <input type="submit" value="add user to hobby tag">
</form>

<br/>

<form th:action="@{/fetch}" method="post">
    <input type="submit" value="fetch">
</form>

<br/>

<form th:action="@{/remove-hobbytag}" method="post">
    <input type="submit" value="remove hobby tag">
</form>

<form th:action="@{/add-crush-to-list}" method="post">
    <input type="submit" value="add crush">
</form>

</body>
</html>