```html:5
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body class="h-screen flex bg-[url(./img/11283256.jpg)] w-screen bg-auto bg-no-repeat">
  <header class="w-full bg-white/30 backdrop-blur-md shadow-lg fixed top-0 z-50">
    <nav class="flex justify-between items-center sm:gap-2 gap-1 px-2">
        <div class="sm:basis-4/12 basis-1/4 flex items-center sm:gap-2 gap-1 relative">
          <a href="#" class="w-16 h-16">
            <img class="w-full h-full object-cover" src="./img/logo.png" alt="Logo">
          </a>
          <div id="ctSearch" class="bg-slate-200 md:w-[300px] rounded-3xl p-1 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div> <!-- End Logo, Search-->
        <ul class="flex sm:basis-7/12 basis-2/4 items-center justify-between sm:justify-start sm:gap-20 lg:gap-36">
          <li class="w-8 h-8">
            <a href="#" class="rounded-lg hover:bg-slate-100 inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-full h-full">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
            </a>
          </li>
          <li class="w-8 h-8">
            <a href="#" class="rounded-lg hover:bg-slate-100 inline-block">
              <img src="./img/match.png" alt="" class="max-w-[32px] max-h-[32px] object-cover">
            </a>
          </li>
          <li class="w-8 h-8">
            <a href="#" class="rounded-lg hover:bg-slate-100 inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-full h-full">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
              </svg>
            </a>
          </li>
          <li class="w-8 h-8">
            <a href="#" class="rounded-lg hover:bg-slate-100 inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-full h-full">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
              </svg>
            </a>
          </li>
        </ul> <!-- End Menu -->
        <div class="relative" id="profileSetting">
                    <button class="flex items-center space-x-2 hover:bg-gray-100 rounded-full p-1">
                        <img src="./img/bg-enwseajn.jpg" alt="Profile" class="h-8 w-8 rounded-full object-cover">
                        <span class="text-gray-700 text-sm hidden md:block">Đỗ Quốc Huy</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 24 24">
                            <path d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                    <div id="profileMenu" class="absolute hidden bg-white/80 shadow-md rounded-md w-full">
                        <form action="@[/logout]" method="post" class="contents">
                            <button type="submit" class="w-full py-2 flex items-center justify-center">
                            <span class="fa-solid fa-right-from-bracket"></span> Logout</button>
                        </form>
                    </div>
                </div> <!-- End Profile -->
      </nav>
  </header>

  <main id="mainContent" class="w-full h-full ">
    <div class="lg:w-3/5 md:w-4/5 w-full mt-10 h-full m-auto">
      <div class="h-auto p-10 w-full flex backdrop-blur-md shadow-lg rounded-lg">
        <div class="md:w-[200px] md:h-[200px] w-[100px] h-[100px] overflow-hidden">
          <img src="./img/11283256.jpg" alt=""
            class="w-full h-full object-cover m-auto w-32 h-32 lg:w-40 lg:h-40 md:w-36 md:h-36 rounded-full">
        </div>
        <div class=" w-2/3 h-auto flex">
          <div class="w-4/5 flex flex-col  ml-5">
            <h1 class="text-2xl text-black font-bold">Đỗ Quốc Huy <span
                class="fa-solid fa-mars text-blue-400 rounded-full"></span></h1>
            <h5 class="text-black/50 break-all hidden xl:block">biography</h5>
          </div>
          <div class="w-1/5 xl:my-auto ml-10">
            <button id="addFriend" class="bg-purple-300 rounded-lg px-3 py-1 text-md whitespace-nowrap"><span
                class="fa-solid fa-add text-lg sm:text-sm"></span><span class="hidden sm:inline">  Add <span class="hidden lg:block">Friend</span></span></button>
          </div>
        </div>

      </div>
      <div class="h-auto w-full backdrop-blur-lg shadow-md rounded-lg mt-2">
        <nav class="flex justify-center space-x-2">
          <a href="#" data-target="info" id="nav-info"
            class="p-2 hover:bg-black/20 font-semibold hover:rounded-md items-center text-black/50 focus:border-b-2 border-black nav-btn">About
            me</a>
          <a href="#" data-target="gallery" id="nav-gallery"
            class="p-2 hover:bg-black/20 hover:rounded-md items-center text-black/50 nav-btn focus:border-b-2 border-black border-box font-semibold">Gallery</a>
        </nav>
        <hr class="">
        <div id="gallery" class="h-auto w-full backdrop-blur-md p-3 section relative flex justify-around items-center hidden">
          <div class="relative">
            <img src="./img//11283256.jpg" alt="" class="introduceImage">
            <span class="absolute top-1 right-1 dateTime rounded-lg bg-white/60 p-1 px-2">12/3/45</span>
          </div>
          <div class="relative">
            <img src="./img//bg-enwseajn.jpg" alt="" class="introduceImage hidden">
            <span class="absolute top-1 right-1 hidden dateTime rounded-lg bg-white/60 p-1 px-2">12/3/35</span>
          </div>
          <div class="relative">
            <img src="./img//11283256.jpg" alt="" class="introduceImage hidden">
            <span class="absolute top-1 right-1 hidden dateTime rounded-lg bg-white/60 p-1 px-2">2/3/45</span>
          </div>
          <div class="relative">
            <img src="./img//bg-enwseajn.jpg" alt="" class="introduceImage hidden">
            <span class="absolute top-1 right-1 hidden dateTime rounded-lg bg-white/60 p-1 px-2">12/43/45</span>
          </div>
          <div class="relative">
            <img src="./img//11283256.jpg" alt="" class="introduceImage hidden">
            <span class="absolute top-1 right-1 hidden dateTime rounded-lg bg-white/60 p-1 px-2">12/23/45</span>
          </div>
          <div class="relative">
            <img src="./img//bg-enwseajn.jpg" alt="" class="introduceImage hidden">
            <span class="absolute top-1 right-1 hidden dateTime rounded-lg bg-white/60 p-1 px-2">12/34/45</span>
          </div>
          <div class="absolute w-full h-10 flex justify-between">
            <button id="btnReturn" class="md:w-12 md:h-12 w-8 h-8 rounded-full bg-white/30 
                     hover:bg-white/60 hover:scale-110 transition-transform duration-300" onclick="TransImage(this)">
              &lt;</button>
            <button id="btnNext" class="md:w-12 md:h-12 w-8 h-8 rounded-full bg-white/30
                     hover:bg-white/60 hover:scale-110 transition-transform duration-300"
              onclick="TransImage(this)">&gt;</button>
          </div>
        </div>
        <div id="info" class="ml-6 p-5 h-auto w-full backdrop-blur-md space-y-2 section">
          <div class="xl:hidden">Biography:</div>
          <div>Gender: </div>
          <div>Location: </div>
          <div>Age: </div>
          <div>Education level: </div>
          <div>Hobby: </div>
          <div>Email: </div>
          <div>Joined date: </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="./js/NavOption.js"></script>
<script src="./js/TransitImages.js"></script>
<script src="./js/DropDownMenu.js"></script>

</html>
```